.top_bar { min-height:40px; /* 
background: #30bed6; /* Old browsers */
background: -moz-linear-gradient(left, #30bed6 0%, #38cac9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #30bed6 0%,#38cac9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #30bed6 0%,#38cac9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bed6', endColorstr='#38cac9',GradientType=1 ); /* IE6-9 */}

.social { list-style-type:none; margin-bottom:0px; float:left; padding:0px; margin-left:0px;}
.social li { float:left;}
.social li a { padding:0 10px; font-size:13px; line-height:40px; color:#FFF;}

.rightc { list-style-type:none; margin-bottom:0px; float:right;}
.rightc li { margin:0px 10px; font-size:13px; float:left; line-height:40px; color:#FFF;}
.rightc li a {   color:#FFF; }

.navbar-brand img { margin-top:0px; margin-left:0px;}
.navbar-brand {padding:0px;}
a.navbar-brand {
    width: 6em;
    height: 5em;
}

.header_image { margin-top:-70px; float:left;}
.nav.navbar-nav.navbar-right span {font-family: 'Open Sans', sans-serif; font-style:italic; font-weight:300; color:#1b6977;}
.navbar-right li a {font-family: 'Open Sans', sans-serif; font-size:16px; color:#1b6977 !important;}


.carousel-holder {
    margin-right: 0px !important;
}

@media (min-width: 768px){
    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }
}

#logo { position: relative;}

#grupo-busca{
    padding-top: .6em;
    left: 5%;
}

#menu-direito li > a:hover {
    color: #00831D;
    font-weight: bold;
    font-size: 1.01em;
    transition: .5
}

.navbar-nav > li > a:focus {
    color: #de2828 !important;
    background-color: transparent;
    font-weight: bold !important;
}

a#colecoes {
    display: inline-block;
    width: 12em;
}

a.navbar-brand {
    width: 100%;
    height: 100%;
}

ul#menu {
    max-width: 100%;
}

div#barra-busca {
    padding-top: 1%;
}

.panel-heading {
    background-color: #C8F6EA !important;
    border-color: #0dff0d !important;
    font-weight: 700;
}

/**/   
/**/   /* ALERTA LOGADO COMO ADMINISTRADOR*/    
/**/

.admin strong {
    font-size: smaller;
    color: steelblue;
}

.admin a {
    font-size: 1.4em;
    color: blue;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    background-color: aliceblue;
    padding-left: 0.5em;
}

.admin {
    text-align: right;
}

/**/   
/**/   /*FIM ALERTA LOGADO COMO ADMINISTRADOR*/    
/**/

/**/   
/**/   /*CARROUSEL*/    
/**/ 

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/**/
/**/   /* FIM CARROUSEL*//**/
/**/

footer {
    margin: 50px 0;
}